# Build Folders
bin
obj

# Visual Studio specific files
.vs
.suo
.user
.userosscache
.sln.docstates

# Rider specific files
.idea

# Visual Studio Code specific files
.vscode

# Windows specific files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN

# macOS specific files
.DS_Store

# Logs
.log

# NuGet packages
.nupkg
packages


Properties
obj/Debug
bin/Debug
.vs/ConsoleAppCSharp